.contenido-stepper{
    width: 80%;
    margin: 30px auto 50px auto;
  }

  @media (max-width: 538px) {
    .contenido-stepper{
      width: 100%; 
      margin: 30px 0px 50px auto;
    }
  }

  .contenedor-columnas{
    max-width: 643px;
    margin:auto;
    
  }

  .contenedor-partes{
    max-height: 230px;
    max-width: 643px;
    margin:auto;
    overflow-y: none;
    overflow-x: hidden;
  }

  .contenedor-partes::-webkit-scrollbar{
      width: 5px;
  }
  .contenedor-partes::-webkit-scrollbar-thumb{
    background-color: #0072bb;
    border-radius: 10px;
  }
  .mat-form-field {
    margin-top: 16px;
  }
  .parteItems{
    padding-top: 23px;
    min-width: 520px;
    max-width: 868px;
    margin: auto;
    margin-top:17px;
    background-color: #e8e8e82b;
    border-radius: 18px;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
    min-width: 608px;
    border: none;
    border-radius: 25px;
    box-shadow:  0 30px 60px 0 rgba(0,0,0,0.5) !important;
    width: 85%;
    margin: auto;
  }


  .button-center{
    margin:auto
  }


  .radio-group{
    margin-right: 19px;
  }

  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}


