
    <mat-horizontal-stepper  [linear]="true" #stepper>
        <!-- Datos Iniciales -->
        <mat-step [stepControl]="firtFormGroup">
          <form [formGroup]="firtFormGroup">
            <ng-template matStepLabel>Datos Iniciales</ng-template>
    
            <div  class="row row-cols-1 contenido-stepper">
                <mat-card-title >Datos Iniciales</mat-card-title>
    
                <mat-form-field class="mb-4" appearance="legacy">
                    <mat-label>Caratula Tentativa</mat-label>
                    <input formControlName="caratulaTentativa" matInput placeholder="Tentativa">
                    <mat-hint>Organismo c/ Demandado</mat-hint>
    
                    <mat-error *ngIf="!firtFormGroup.hasError('required')">
                        La caratula tentativa es <strong>Requerida</strong>
                      </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="legacy" floatLabel="always">
                    <mat-label>Monto de la demanda</mat-label>
                    <input formControlName="montoDemanda" matInput type="number" placeholder="$0">
                    
                    <mat-hint>356336</mat-hint>
                    <mat-error *ngIf="!firtFormGroup.hasError('required')">
                        El monto es <strong>Requerido</strong>
                      </mat-error>
                  </mat-form-field>
    
            </div>
    
            <div>
              <button color="primary" class="button-right" [disabled]="firtFormGroup.invalid" mat-raised-button matStepperNext>Next <mat-icon >redo</mat-icon></button>
              <button (click)="volverInicioDemanda()" class="button-right mr-4" mat-raised-button matStepperPrevious><mat-icon >undo</mat-icon> Volver Inicio a Demanda</button>
            </div>
          </form>
        </mat-step>
        <!-- Partes -->
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                
            
    
              <ng-template matStepLabel>Partes</ng-template>
    
              <div class="row row-cols-1 contenido-stepper">
    
                <mat-card-title >Partes</mat-card-title>
                  <!-- Lista de partes -->
                  <app-lista  [data]="dataList" (delet)="deleteItemList($event)"></app-lista>
                   
                  <!-- Form para partes -->
                  <div >
                    <button class="d-none d-lg-block button-center mt-3" color="primary"  *ngIf="!nuevSujeto" (click)="nuevoSujeto()" title="Agregar un nuevo sujeto" style="width: 24%;"   mat-raised-button >
                      <mat-icon >add_circle_outline</mat-icon>
                      <div  style="display: inline-block;margin-left: 7px;">Nuevo Sujeto</div>
                     </button>
  
                     <button class=" d-none d-md-block  d-lg-none button-center" title="Agregar un nuevo sujeto"  *ngIf="!nuevSujeto" (click)="nuevoSujeto()" color="primary" mat-fab><mat-icon>add_circle_outline</mat-icon></button>
                  </div>
                  

                  <app-nuevo-sujeto   (cancelar)="cancelarCargaParte($event)" (save)="addSujeto($event)"  *ngIf="nuevSujeto"></app-nuevo-sujeto>

                   <mat-divider  class="mb-4 mt-4"></mat-divider>
              </div>
      
              <div>
                <button color="primary" class="button-right" mat-raised-button matStepperNext>Siguiente <mat-icon >redo</mat-icon></button>
                <button  class="button-right mr-4" mat-raised-button matStepperPrevious><mat-icon >undo</mat-icon> Atras</button>
              </div>
            </form>
          </mat-step>
           <!-- Documentacion -->
           <mat-step [stepControl]="threeFormGroup">
            <form [formGroup]="threeFormGroup">
                
            <mat-card-title >Documentacion</mat-card-title>
    
              <ng-template matStepLabel>Documentacion</ng-template>
              <div class="row row-cols-1 contenido-stepper">
                  <mat-form-field appearance="legacy">
                      <mat-label>Legacy form field</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  
                  <mat-form-field appearance="legacy">
                      <mat-label>Legacy form field</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-hint>Hint</mat-hint>
                  </mat-form-field>
      
                  <mat-form-field appearance="legacy">
                      <mat-label>Legacy form field</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-hint>Hint</mat-hint>
                  </mat-form-field>
      
                  <mat-form-field appearance="legacy">
                      <mat-label>Legacy form field</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-hint>Hint</mat-hint>
                  </mat-form-field>
      
      
          
                  <mat-slide-toggle class="mt-3">Slide me!</mat-slide-toggle>
                  
      
                  <mat-form-field appearance="legacy">
                      <mat-label>Legacy form field</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-hint>Hint</mat-hint>
                  </mat-form-field>
              </div>
      
              <div>
                <button color="primary" class="button-right" mat-raised-button matStepperNext>Siguiente <mat-icon >redo</mat-icon></button>
                <button  class="button-right mr-4" mat-raised-button matStepperPrevious><mat-icon >undo</mat-icon> Atras</button>
              </div>
            </form>
          </mat-step>
    
      </mat-horizontal-stepper >


