<h2 style="text-align: center;">Administración de Personas</h2>
<app-g-filter-extended #personaFilter [classConfig]="classConfig" [multiple] = "true" [actions]="actionsFilter"></app-g-filter-extended>
<g-table 
    #tablePersona 
    [classConfig]="classConfig" 
    [gFilter]="personaFilter"  
    [service]="personaService" 
    [actions]="actions"
    [where]="where"
    [orderBy]="orderBy">
</g-table>
