<form [formGroup]="sujetoForm"  class="row row-cols-1  parteItems contenedor"> 
                                            
    <h5 class="text-muted mb-4">Nuevo Sujeto</h5>

    <mat-form-field appearance="legacy" class="mb-3">
      <mat-label>Tipo de vinculo</mat-label>
      <mat-select formControlName="tipoParte">
          <mat-option  [value]="tipoParte" *ngFor="let tipoParte of tiposPartes" >
              {{tipoParte.name}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="!sujetoForm.hasError('required')">
          El vinculo  es <strong>Requerido</strong>
        </mat-error>
    </mat-form-field>
    <!-- Tipo de persona -->
    <mat-radio-group *ngIf="sujetoForm.value.tipoParte" aria-labelledby="example-radio-group-label" class="row row-cols-4 mb-3" formControlName="tipoPersona">
      <mat-radio-button class="pt-3" *ngFor="let tipoPersona of tiposPersona" [value]="tipoPersona">
        {{tipoPersona.name}}
      </mat-radio-button>
    </mat-radio-group>
    
    <div class="row " *ngIf="sujetoForm.value.tipoPersona">
        <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11  row">
            <mat-form-field  class="mb-4" appearance="legacy">
                <mat-label>Buscar Pesona</mat-label>
                <input formControlName="persona"  matInput placeholder="Persona">
                <mat-hint>Apellido / DNI </mat-hint>
            </mat-form-field>
        </div>
        <div class="col-1">
            <button mat-fab><mat-icon>search</mat-icon></button>
        </div>

    </div>

    <div >
        <button class="button-right"  color="primary"   mat-button>Guardar</button>
        <button class="button-right" color="warn" (click)="cancelaCarga()" mat-button>Cancelar</button>
    </div>

  

  </form>