

<div class="contenedor mt-2" *ngIf="!inicioDemanda">
    
<!-- Tipo de Causa -->
    <mat-card class="card contenedor hijo-centrado">
        <!-- <mat-card-title class="hijo-centrado ">Inicio de demanda</mat-card-title> -->
 
        <mat-card-title >Tipo de Causas</mat-card-title>
    
        <mat-card-content>
            <form  [formGroup]="tipoCausaForm">
                <div class="row">
                       <!-- FERO -->
                        <mat-form-field class="mb-3">
                                <mat-label>Fuero</mat-label>
                                <mat-select   formControlName="fuero">
                                    <mat-option  [value]="fuero.id" *ngFor="let fuero of fueros" >
                                       {{fuero.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="!tipoCausaForm.hasError('required')">
                                    El Fuero es <strong>Requerido</strong>
                                  </mat-error>
                        </mat-form-field>
                                <!-- Proceso judicial -->
                        <mat-form-field class="mb-3">
                            <mat-label>Proceso judicial</mat-label>
                            <mat-select formControlName="oficinaJudiial">
                                <mat-option  [value]="procesoJudicial.id" *ngFor="let procesoJudicial of procesosJudiciales" >
                                    {{procesoJudicial.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!tipoCausaForm.hasError('required')">
                                El proceso judicial es <strong>Requerido</strong>
                              </mat-error>
                        </mat-form-field>

                        <!-- Oficina -->
                        <mat-form-field class="mb-3">
                            <mat-label>Oficina judicial </mat-label>
                            <mat-select formControlName="procesoJudicial">
                                <mat-option   [value]="oficinaJudicial.id" *ngFor="let oficinaJudicial of oficinasJudiciales" >
                                    {{oficinaJudicial.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="!tipoCausaForm.hasError('required')">
                                La oficina es <strong>Requerida</strong>
                              </mat-error>
                        </mat-form-field>

                
                </div>
                  
                
            </form>
            <button (click)="iniciarDemanda()" class="mt-3 hijo-centrado" [disabled]="!tipoCausaForm.valid"mat-raised-button  color="primary">  Iniciar demanda <mat-icon>task</mat-icon></button>
        </mat-card-content>
    
    </mat-card>

    
</div>

<!-- Stepers -->
  <!-- proceso judicial -->
  <app-stepper-proceso-judicial *ngIf="inicioDemanda" [tipoProceso]="inicioDemanda" (action)="volverInicioDemanda($event)"></app-stepper-proceso-judicial>



