

  .card {
    max-width: 400px;
   
    border: none;
    border-radius: 5%;
    box-shadow:  0 30px 60px 0 rgba(0,0,0,0.5) !important;
  }

  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}
  .contenedor{
    text-align: center;
  }

  .hijo-centrado{
    margin: 0 auto;
  }


  .mat-form-field {
    margin-top: 16px;
  }







