<ng-container *ngIf="data.items.length; else elseTemplateLista">
    <div class="contenedor">
        <h5 class="text-muted mb-5">{{data.title}}</h5>
       
        <div class="centrador">
          <table class="table table-hover " >
            <thead >
              <tr>
                <th scope="col">#</th>
                <th *ngFor="let header of data.headers" scope="col">{{header.name}}</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody class="contenedor-partes">
              <tr *ngFor="let item of data.items; let i=index" >
                <td >{{i+1}}</td>
                <td >{{item.vinculo}}</td>
                <td >{{item.name}}</td>
                <td >{{item.dni}}</td>
                <!-- <td >{{item.naturaleza}}</td> -->
                <td >
                    <button (click)="delete(i)" color="primary" mat-icon-button><mat-icon>delete</mat-icon></button>
                    <button (click)="edit(i)" color="primary" mat-icon-button><mat-icon>edit_note</mat-icon></button>
                </td>
              </tr>
            
            </tbody>
          </table>
        </div>
        
        
      
    </div>
</ng-container>
<ng-template #elseTemplateLista>
    <div class="contenedor">
        <h5 class="text-muted mb-5">No hay partes cargadas</h5>
    </div>
  
</ng-template>


