.contenedor{
    text-align: center;
    min-width: 520px;

  }


  .contenedor-columnas{
    /*  max-width: 1000px; */
    margin:auto;

  }

  .titulos-columnas{
    font-weight:bold;
    color: #000000af;
  }


  .contenedor-partes{
    max-height: 209px;
   /*   max-width: 1000px; */


    overflow-y: none;
    overflow-x: hidden;
  }

  .contenedor-partes::-webkit-scrollbar{
      width: 5px;
  }
  .contenedor-partes::-webkit-scrollbar-thumb{
    background-color: #0072bb;
    border-radius: 10px;
  }
  .item{
    border-bottom-style: ridge;
    padding-top:10px
  }
  .fila:hover{
    background-color: #85858552;

  }
  .table{
    display: inline-block;
  }

  .centrador{
    margin:auto;
  }


tbody {
    display: block;
    max-height: 229px;
    overflow: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
// thead {
//     width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
// }

  