@import "~bootstrap/dist/css/bootstrap.css";
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// // @include mat-core();

// // // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // // hue. Available color palettes: https://material.io/design/color/
// // $web-eef-primary: mat-palette($mat-indigo);
// // $web-eef-accent: mat-palette($mat-pink, A200, A100, A400);

// // // The warn palette is optional (defaults to red).
// // $web-eef-warn: mat-palette($mat-red);

// // // Create the theme object (a Sass map containing all of the palettes).
// // $web-eef-theme: mat-light-theme($web-eef-primary, $web-eef-accent, $web-eef-warn);

// // // Include theme styles for core and each component used in your app.
// // // Alternatively, you can import and @include the theme mixins for each component
// // // that you are using.
// // @include angular-material-theme($web-eef-theme);

// // /* You can add global styles to this file, and also import other style files */


// // //Rich text editor styles...
// // @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
// // @import '../node_modules/@syncfusion/ej2-base/styles/material.css'; 
// // @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';   
// // @import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';   
// // @import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';   
// // @import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';   
// // @import '../node_modules/@syncfusion/ej2-navigations/styles/material.css'; 
// // @import '../node_modules/@syncfusion/ej2-popups/styles/material.css'; 
// // @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';   
// // @import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css'; 

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-content {
    margin: 0;
    height: 100%;
    width: 100%;
}
.troleo-cartel {
    font-size: 100px;
    position: fixed;
    top: -1em;
    text-transform: uppercase;
    z-index: 2;
}

.hiden {
    display: none;
}

mat-sidenav {
    background: transparent !important;
    border: 0 !important;
}

.span-POST {
    color: #f9b516;
}

.span-GET {
    color: #6ea100;
}

.span-PUT {
    color: dodgerblue;
}

.span-PATCH {
    color: dimgray;
}

.span-DELETE {
    color: darkred;
}

.span-OPTIONS {
    color: darkslateblue;
}
.success-txt {
    color: #6ea100;
}
.error-txt {
    color: #ef5350;
}

.warning-txt {
    color: #f9a822;
}

#title-tag {
    font-size: 15px;
    color: gray;
    padding-bottom: 5px;
}

.progress-content mat-progress-spinner {
    width: 50px;
    height: 50px;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin-top: -119px;
    margin-left: -60px;
}

.progress-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(128, 128, 128, 0.53);
}

.fix-form-margin {
    margin-top: 17px;
}

.fix-padding-bottom {
    padding-bottom: 14px;
}

.wrapper-safe-crud {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.fix-margin {
    margin-top: 17px;
}

.fa-file-pdf {
    margin-left: 8px;
}

.text-title-style {
    flex-direction: row;
    flex-wrap: wrap;
}

.item-preview {
    margin-bottom: 5px;
}

::ng-deep .mat-expansion-panel-header {
    height: auto !important;
}

@-webkit-keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

@keyframes hinge {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    20%,
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 80deg);
        transform: rotate3d(0, 0, 1, 80deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    40%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: hinge;
    animation-name: hinge;
}

.mat-error{
    display: inline !important;
}

.aprobado {
    border: solid 1px green;
    padding: 8px;
    color: green;
    background: #00800014;
    display: block;
    text-align: center;
    width: 180px;
}

.control-manual {
    border: solid 1px #8b2fa9;
    padding: 8px;
    color: #8b2fa9;
    background: #8b2fa912;
    display: block;
    text-align: center;
    width: 180px;
}
.rechazo {
    border: solid 1px #e3165b;
    padding: 8px;
    color: #e3165b;
    background: #f4433614;
    display: block;
    text-align: center;
    width: 180px;
}

.button-right{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
  }